*{
    margin: 0;
    padding: 0;
}
.top{
   
    display: flex;
    justify-content: space-between;
    padding: 1.5vh;
    box-shadow: 0 0 20px black;
}
.camera{
    
    width: 5vh;
}
.logo{
    width: 19vh;
}
.search{
    width: 5vh;
}
.message{
    width: 5vh;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-content{
    color: orangered;
    font-size: 6.5vh;
    justify-content: center; 
    font-weight: bold;
    font-style: italic;     
}
header{
    margin: 0;
    padding: 0;
}
main{
    justify-content: center;
    display: flex;
    min-height: calc(100vh - 34.672px - 76.7812px);
}
.bottom{
    padding: 1.5vh;
    padding-left: 2.5vh;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 0 20px black;
}

.home{
    width:5vh;
}
.reels{
    width: 5vh;
}
.post{
    width: 7vh;
}
.activity{
    width: 6vh;
}
.profile{
    width: 8vh;
}
.inner-content:hover{
    color: rgb(255, 123, 0);
    font-weight: bold;
    font-style: italic;
}